.trip-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-gold-hover);
    border-radius: 8px;
    padding: 12px;
    height: 100%;

    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.trip-card:hover {
    background-color: var(--accent-gold-hover);
}

.trip-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.trip-card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trip-card-title {
    width: 200px;
}
.trip-card-title h3 {
    font-weight: 700;
}

.trip-card-dates {
    font-size: 0.85rem;
    margin: 0;
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trip-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (max-width: 480px) {
    .trip-card {
        padding: 0.875rem;
    }

    .trip-card-title {
        font-size: 1rem;
    }
}
